{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <h2>Teams list</h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#list">Teams list</a></li>
            <li><a data-toggle="tab" href="#new">Add new team</a></li>
        </ul>

        <div class="tab-content">
            <div id="list" class="tab-pane fade in active">
                <h3>Bellow are the available teams along with their details</h3>
                <div id="football_team_list_messages"></div>
                <table class="table table-hover table-bordered" id="list-teams-table">
                    <thead>
                    <tr>
                        <th>#Id</th>
                        <th>Name</th>
                        <th>Played Games</th>
                        <th>Won Games</th>
                        <th>Lost Games</th>
                        <th>Scored Goals</th>
                        <th>Score</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#{% for team in teams %}#}
                    {#<tr>#}
                    {#<td>{{ team.id }}</td>#}
                    {#<td>{{ team.name }}</td>#}
                    {#<td>{{ team.playedGames }}</td>#}
                    {#<td>{{ team.wonGames }}</td>#}
                    {#<td>{{ team.lostGames }}</td>#}
                    {#<td>{{ team.scoredGoals }}</td>#}
                    {#<td>{{ team.score }}</td>#}
                    {#</tr>#}
                    {#{% endfor %}#}
                    </tbody>
                </table>
            </div>

            <div id="new" class="tab-pane fade">
                <h3>Add a new team to the database</h3>
                <div id="football_team_form_wrapper">
                    {{ render(path('new_team')) }}
                </div>
            </div>
        </div>

        <!-- Delete confirmation Modal -->
        <div id="football_team_delete_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Delete Confirmation
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete team with id <span id="team_to_delete_it"></span> ?
                    </div>
                    <div class="modal-footer">
                        <button id="football_team_cancel_delete_btn" type="button" class="btn btn-info"
                                data-dismiss="modal">Cancel
                        </button>
                        <button id="football_team_confirm_delete_btn" type="button" class="btn btn-danger"
                                data-dismiss="modal">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function bindFormButtons(formName) {
            $(':input', 'form[name="' + formName + '"]')
                .bind('keyup change', function (e) {
                    if (this.id == formName + '_id') {
                        return;
                    }
                    $('#football_team_submit_btn').removeAttr('disabled');
                });
        }

        function trySaveBeforeReload(formName, previousId, onModalClose) {
            if ($('#football_team_submit_btn').attr('disabled') == 'disabled') {
                // no modifications so do not ask to save
                onModalClose();
                return;
            }

            $('#football_team_confirm_save_btn').click(function () {
//                var $idElement = $('#' + formName + '_id');
//                var currentId = $idElement.val();
                var formValues = $('form[name="' + formName + '"]').serializeArray();
                for (var i = 0; i < formValues.length; i++) {
                    if (formValues[i].name == formName + '[id]') {
                        formValues[i].value = previousId;
                        break;
                    }
                }

                saveTeamAjax(formName, $.param(formValues));
            });

            var $confirmModal = $('#football_team_save_modal');
            $confirmModal.on("hidden.bs.modal", onModalClose);
            $confirmModal.modal();
        }

        function getTeamAjax(formName) {
            var previousId;

            $('#' + formName + '_id').on('focus', function (e) {
                previousId = this.value;
            }).change(function () {
                var id = this.value;
                console.log(id);
                if (!id) {
                    $('#football_team_submit_btn').attr('disabled', false);
                    return;
                }
                trySaveBeforeReload(formName, previousId, function () {
                    // do a get to retrieve team
                    $.ajax({
                        url: teamUrl(id),
                        error: function (req, text, err) {
                            console.log(req);
                            console.log(text);
                            console.log(err);
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            if (data.type == 'success') {
                                populateForm(formName, data.team);
                                $('#football_team_submit_btn').attr('disabled', true);
                            } else {
                                writeMessage('football_team_form_messages', data.type, data.msg);
                                $('#football_team_form_id').find('option[value=' + id + ']').remove();
                                // remove id form select
                                resetForm('football_team_form');
                            }
                        },
                        type: 'GET'
                    });
                });
            })
        }

        function teamUrl(id) {
            return '{{ path('get_team', {teamId : 0}) }}' + id;
        }

        function saveTeamAjax(formName, formData) {
            // populate create form
            $.ajax({
                url: '{{ path('new_team') }}',
                error: function (req, text, err) {
                    console.log(req);
                    console.log(text);
                    console.log(err);
                },
                data: formData,
                success: function (data) {
                    $('#' + formName + '_wrapper')
                        .empty()
                        .append(data);
                    initializeBindings(formName);
                },
                type: 'POST'
            });
        }

        function postFormAjax(formName) {
            $('form[name="' + formName + '"]').submit(function (e) {
                e.preventDefault();
                saveTeamAjax(formName, $(this).serialize());
            });
        }

        function bindResetButton() {
            $('#football_team_reset_btn').click(function (e) {
                e.preventDefault();
                resetForm('football_team_form');
            });
        }

        function getFormAjax(formName) {
            // populate create form
            $.ajax({
                url: '{{ path('new_team') }}',
                error: function (req, text, err) {
                    console.log(req);
                    console.log(text);
                    console.log(err);
                },
                success: function (data) {
                    $('#' + formName + '_wrapper').empty().append(data);
                    initializeBindings(formName);
                },
                type: 'GET'
            });
        }

        function getAllTeams() {
            // populate create form
            $.ajax({
                url: '{{ path('get_teams') }}',
                error: function (req, text, err) {
                    console.log(req);
                    console.log(text);
                    console.log(err);
                },
                success: function (data) {
                    if (data.success) {
                        populateTeamsTable('list-teams-table', data.teams);
                    } else {
                        // TODO alert messages
                        console.log(data);
                    }
                },
                type: 'GET'
            });
        }


        function formDeleteHandler(type, msg, deletedId) {
            writeMessage('football_team_form_messages', type, msg);
            if (type == 'success') {
                $('#football_team_form_id').find('option[value=' + deletedId + ']').remove();
                // remove id form select
                resetForm('football_team_form');
            }
        }

        function bindFormDeleteBtn() {
            var $btn = $('#football_team_delete_btn');
            var $teamIdElement = $('#football_team_form_id');
            $btn.click(function (e) {
                e.preventDefault();
                if (!$teamIdElement.val()) {
                    formDeleteHandler('danger', 'You have not selected and id.');
                    return;
                }

                $('#team_to_delete_it')
                    .empty()
                    .append($teamIdElement.val());
                $('#football_team_delete_modal').modal();

                deleteTeamAjax(formDeleteHandler, $teamIdElement.val());
            });
        }

        function deleteTeamAjax(successHandler, teamId) {
            var $confirmBtn = $('#football_team_confirm_delete_btn');
            // remove any previous events
            $confirmBtn.off();
            $confirmBtn.click(function (e) {
                $.ajax({
                    url: '/teams/' + teamId,
                    error: function (req, text, err) {
                        console.log(req);
                        console.log(text);
                        console.log(err);
                    },
                    success: function (data) {
                        successHandler(data.type, data.msg, teamId);
                    },
                    type: 'DELETE'
                });
            });
        }

        function initializeBindings(teamFormName) {
            postFormAjax(teamFormName);
            getTeamAjax(teamFormName);
            getAllTeams();
            bindFormDeleteBtn();
            bindResetButton();
            bindFormButtons(teamFormName)
        }

        $(document).ready(function () {
            var teamFormName = 'football_team_form';

            initializeBindings(teamFormName);
        });


    </script>
{% endblock %}